<header>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{userService.getAgentUser()?.nombre}}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>LogOut</span>
        </button>
    </mat-menu>
</header>


@if (store.dataAvaiable()) {
<section class="content">
    @for (message of store.messages(); track message.id) {
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{message.nombre}}</mat-card-title>
            <mat-card-subtitle>{{message.text}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button>{{message.createdat | customDate}}</button>
        </mat-card-actions>
    </mat-card>
    }
</section>
}
@else {
<main class="no-data">
    <section>
        <img class="img-no-data" src="/no-data.png" alt="No data img">
        <span>No data</span>
    </section>

</main>
}

<button class="floating-button" mat-fab aria-label="Add icon" (click)="openBottomSheet()">
    <mat-icon>add</mat-icon>
</button>