section.content {
    margin: 5% 4%;
    min-height: 100vh;
    position: relative;

    mat-card {
        margin-bottom: 4%;
    }
}
.no-data {
    display: flex;
    justify-content: center;   
    section {
        margin: 0 5%;
        img {
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:xx-large;
    }
   
}

.floating-button {
    position: fixed;
    bottom: 16px;
    right: 4%;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: flex-end;
}